-- AlterTable
ALTER TABLE "JobTask" ADD COLUMN     "sourceJobIssueId" TEXT;

-- CreateIndex
CREATE UNIQUE INDEX "JobTask_sourceJobIssueId_key" ON "JobTask"("sourceJobIssueId");

-- AddForeignKey
ALTER TABLE "JobTask" ADD CONSTRAINT "JobTask_sourceJobIssueId_fkey" FOREIGN KEY ("sourceJobIssueId") REFERENCES "JobIssue"("id") ON DELETE SET NULL ON UPDATE CASCADE;

